body{
    padding: 0;
    margin: 0;
    background: url(./images/kamejpg.jpg) no-repeat center;
    background-size: cover;
}

.cardContainer{
    height: 600px;
    width: 600px;
}
.cardz{
    height: 12.5%;
    width: 100%;
    position: relative;
}
.cardFront{
    background: url(./images/card_back.jpg) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 12.5%;
    position: absolute;
}

.cardBack{
    height: 100%;
    width: 12.5%;
    position: absolute;
}

.radar{
    background: url(./images/dbzside.png) no-repeat center;
    background-size: contain;
    height: 300px;
}

.title{
    background: url(./images/dbzheader.png) no-repeat center/contain;
}
/*exampple*/
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1;
    }

    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

.rotateOut {
    animation-name: rotateOut;
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

.rotateIn {
    animation-name: rotateIn;
}